@page "/novolivro"

<PageTitle>Novo Livro</PageTitle>

<div class="row justify-content-center">
    <div class="col-6">
        <LivroForm ModoEdicao="false" OnValidaLivroSubmit="AdicionarLivro" />
    </div>
</div>

@code {
    private async Task AdicionarLivro(LivroDto livro)
    {
        await livroIncluirApplication.HandleAsync(livro);
        navigation.NavigateTo("./catalogolivros");
    }
}